/*
font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Nosifer', cursive;
*/

html {
/*	height: 90%;*/
	height: 100vh;
}

body {
/*	height: 100%;*/
	margin: 0;
	padding: 0;
	font-size: 16px;
}

nav.navbar::after {
	clear: both;
}

nav.navbar div.container div.navbar-collapse p.navbar-text {
	color: #777;	
}
	
nav.navbar div.container {
/*	position: sticky;*/
}

nav.navbar div.container a {
	color: rgba(220, 0, 0, 0.7);
}

nav.navbar div.container li a:hover {
	background-color: rgba(220, 0, 0, 0.3);
	border-radius: 0 0 8px 8px;
	color: #eee;
		box-shadow: 4px 4px 16px rgba(20,23,28,.25);
}

nav.navbar div.container .activeLink {
	background: rgba(220, 0, 0, 0.5);/* rgba(255, 80, 0, .7);#f40;*/
	border-radius: 0 0 8px 8px;
}

nav.navbar div.container .activeLink a {
	color: #fff;
}

nav.navbar div.container div.navbar-header a {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.8em;	/* 28px;*/
}

nav.navbar div.container ul.nav li {
	height: 100%;
	z-index: 999;
	padding-bottom: 0;
}

nav.navbar div.container ul.nav .account:hover .account-dropdown {
	display: inline-block!important;
	position: absolute;
	left: 0; /* 33% / 40%*/
/*	margin-top: -10px;*/
	margin-top: -3px;
	padding: 0;
	background-color: #eee; /*rgba(0,0,0,.8);*/ /*rgb(222,222,222) rgba(220, 0, 0, 0.6);  rgba(255, 80, 0, .5);  rgba(122,122, 100, 0.6);*/
	color: #666; /*#eee;*/
/*	border: 1px solid #000;*/
	border-radius: 0 0 5px 5px;
/*	width: 300px;*/
/*	width: 130%;*/
/*	width: 300%;*/
/*	max-width: 200px;*/
/*	width: 110%;*/
/*	height: 300%;s*/
	font-size: .9em;
	z-index: 99;
}

nav.navbar div.container ul.nav li.account .account-dropdown li {
	line-height: 2em;
	padding: 10px;
	color: #666 /*#fff;*/
}

nav.navbar div.container ul.nav li.account .account-dropdown a:hover {
	background-color: rgba(220, 0, 0, 0.3);
	cursor: pointer;
	border-radius: 0;
	box-shadow: none;
}

nav.navbar div.container ul.nav li.account .account-dropdown a {
	text-decoration: none;
	display: inline-block;
	width: 100%;
}

nav.navbar div.container ul.nav li.account .account-dropdown a:first-of-type {
/*	display: inline-block;*/
	border-bottom: 1px solid #ccc;
}

nav.navbar div.container ul.nav li.account .account-dropdown li .header-profile-image {
/*	height: 35px;*/
/*	margin-left: 8%;*/
	vertical-align: bottom;
}

nav.navbar div.container ul.nav li.account .account-dropdown li p#navUserInfo {
	display: inline-block;
	margin: 0 0 0 20px;
}

nav.navbar div.container ul.nav li.account .account-dropdown li .nav-full-name {
	display: block;
	line-height: 1.2em;
	font-size: 1.2em;
}


nav.navbar div.container ul.nav li.account .account-dropdown li .nav-user-name {
	display: block;
	line-height: 1.2em;
	font-size: .9em;	
}

/*
ul.nav li.account .account-dropdown a li {
	color: #333;
}
*/

nav.navbar div.container ul.nav li.account .account-dropdown a:hover li {
	text-decoration: none;
	color: #eee;
/*	line-height: 2em;*/
}

nav.navbar div.container ul.nav li.account .account-dropdown li a:hover {
/*	color: #337ab7;;*/
}

ul {
	list-style: none;
}

/*
#search:focus {
	display: block;
	background: #f00;
}
*/

nav form > div.input-group {
/*	max-width: 900px;*/
}

.search-list {
	z-index: 999;
	position: absolute;
}

.text-right {
	text-align: right;
	padding-right: 10px;
}

.fade-text {
	font-size: 1.3em;
}

.add-btn {
	padding: 15px;
/*	background: rgba(220, 0, 0, 0.7);*/
}

div.body-container {
/*	margin-top: 130px;*/
}


/* BLOG STYLES */
/* Aside Navigation */
#blogTopics {
	display: none;
	height: 400px;
	width: 250px;
	max-width: 250px;
	font-size: 1em;
	line-height: 1.4em;
	background-color: rgba(230, 230, 230, 0.0) ; /*#d7dfd2;*/	/*#b2c6ab;*/		/*rgba(255, 255, 205, .8);*/
	border: 1px solid #000;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 10px 10px 16px rgba(20,23,28,.25);
	/*margin-top: 3.2%;*/
}

#blogTopics ul {
	padding-left: 10px;
	font-size: 1.3em;
}

#blogTopics ul li {
	padding: 5px 0;
}

.row {
	margin: 0;
}

main.row {
/*	margin-bottom: 90px;*/
}

/* Aside Navigation Anchor Links */
#blogTopics a {
	text-decoration: none;
	color: #000;
}

#blogTopics a:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Blog Article Content */
#blogSection {
	padding: 0;
	margin-left: 6%;
	position: relative;
	float: right;
}

#blogSection div.blog {
/*	margin-bottom: 100px;*/
	box-shadow: 10px 10px 16px rgba(20,23,28,.25);
	border-radius: 10px 10px 10px 10px;
}

#blogSection div.blog:not(:first-of-type) {
	margin-top: 200px;
}

#blogSection article {
/*	padding: 5px 30px 30px;*/
	background-color: #eee;	/* rgba(170, 227, 114, 1); 	/*rgba(240, 173, 78, .3);*/ /*	#f0ad4e;	*/	/*rgba(255, 228, 196, .8);*/
	border-radius: 10px 10px 10px 10px;
/*	margin-bottom: 100px;*/
	border: 1px solid #000;
	min-height: 400px;
	position: relative;
}

#blogSection div.blogComments {
/*	margin-top: 0;*/
	min-height: 100px;
	height: 100%;
	padding-top: 10px;
	border-right: 2px solid #000;
	border-bottom: 2px solid #000;
	border-left: 2px solid #000;
	border-radius: 0 0 10px 10px;
}

#blogSection .blog_title {
	background: rgba(220, 220, 220, 0.7); /*rgba(111, 208, 31, 1);*/
/*	background-color: rgba(220, 0, 0, .1);*/
	padding: 15px 2% 5px;
	border-radius: 10px 10px 0 0;
}

#blogSection .blog_title > div.col-xs-8 {
	padding-right: 0;
}

#blogSection a {
	text-decoration: none;
	color: #000;
	height: 100%;
	vertical-align: baseline; /*text-bottom;*/
}

#blogSection .avatar {
	display: inline-block;
}

#blogSection img {

	width: 50px;
	height: 50px;

/*	float: left;*/
}

.image-border {
/*	border: 2px solid #000;*/
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

#blogSection .user_name::before {
	content: "@";
	font-size: .7em;
/*	content: "\00b7";*/
}

#blogSection .user_name {
	
}

#blogSection .blog_title a.name {
	width: 74%;
	height: 50px;
	vertical-align: sub;
	display: inline-block;
/*	margin-right: 2%;*/
	font-weight: bold;
	font-size: 1.1em;
}

#blogSection .blog_title h4 {
/*	height: 50px;*/
	margin-left: 20px;
}

#blogSection .blog_title h4 { /*, #blogSection h3 */
/*	margin-bottom: 2px;*/
/*	width: 60%;*/
	font-size: 1em;
	font-family: 'Shadows Into Light', cursive;
	display: inline-block;
	padding-left: 2%;
	vertical-align: -webkit-baseline-middle;
	text-transform: uppercase;
}

/*.blog_title h2 {
	font-family: 'Shadows Into Light', cursive;
	display: inline-block;
	padding-left: 5%;*/
	
	
	/*margin-bottom: 2px;
	width: 80%;*/
/*}*/
#blogSection .date_and_settings,
#blogSection .blogComments .settingsList {
	padding: 0;
	position: absolute;
    top: 0;
    right: 0;
}

#blogSection p.settings {
	text-align: right;
}

#blogSection p.settings button {
	background-color: transparent;
	outline: none;
}

#blogSection p.settings button .down-arrow {
	font-size: .4em;
}

#blogSection .date_and_settings ul,
#blogSection .blogComments ul.settingsList {
	background: rgb(220, 220, 220);
	padding: 0;
	border-radius: 0 0 5px 5px;
	position: absolute;
	z-index: 2;
	border: 1px solid #444;
}

#blogSection .date_and_settings ul li button span.glyphicon-pencil,
#blogSection .blogComments ul.settingsList li button span.glyphicon-pencil {
	left: -17px;
}

#blogSection .date_and_settings ul li button,
#blogSection .blogComments ul.settingsList li button {
	/*background: transparent;*/ /*#f40;*/
	width: 100%;
	text-align: right;
}

#blogSection .date_and_settings ul li:hover button,
#blogSection .blogComments ul.settingsList li:hover button {
	background: rgba(220, 0, 0, 0.5); /* #f40;*/
	color: #fff;
	border-radius: 0;
	-moz-outline: none;
	outline: none;
}

#blogSection a.date {
	display: inline-block;
	text-decoration: none;
	height: 100%;
	width: 100%;
	text-align: right;
	vertical-align: bottom; /*-webkit-baseline-middle;*/
}

#blogSection div.date {
	height: 100%;
}

#blogSection div.date a.date {
	height: 58px;
}

#blogSection div.date a.date p.date_posted {
/*	height: 100%;*/
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 5px;
}

#blogSection .date_posted {
	width: 100%;
	text-align: right;
	margin: 0;
	padding-right: 15px;
/*	margin-top: 0;*/
/*	padding-left: 15%;*/
/*	color: #000;*/
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	    vertical-align: -webkit-baseline-middle;
/*
	width: 80%;
	float: left;
*/
}

a.date:hover > p {
	cursor: pointer;
	color: red;
}

#blogSection .blogPost {
	position: relative;
	top: 0;
	height: 80%;
	min-height: 280px;
/*	margin-bottom: 20px;*/
	padding: 15px;
	box-sizing: content-box;
}

#blogSection .blogPost a.title {
	display: inline-block;
	height: 50px;
	width: 100%;
	padding: 0 10px 5px;
}

#blogSection p.post {
	clear: both;
}

#blogSection .post a.showMore, #blogSection .post a.showLess {
	color: #00f
}

/*#blogSection article p:not(.date_posted) {*/
#blogSection article p.post {
	padding: 5px 35px 5px;
	margin-top: 30px;
	margin-bottom: 60px;
}

#blogSection article > p:first-of-type {
/*	padding-top: 40px;*/
}

#blogSection article div.likes-and-comments p {
/*
	height: 2em;
	margin-top: 45px;
*/
	
/*	padding: 10px;*/
}

#blogSection article .likes-and-comments {
	position: absolute;
	bottom: 0;
	left: 0;
/*	top: 95%;*/
	width: 100%;
/*	height: 100%;*/
/*	height: 2em;*/
	margin: 0;
/*	margin-top: 45px;*/  /*Test here and height and padding above*/
}


#blogSection article div.likes-and-comments span.comment-btn {
/*	cursor: pointer;*/
}

/* 404 & 414 endpoints and after all tests now its 354 endpoint */

#blogSection .blog-footer-row {
	height: 50px;
	font-size: .8em;
/*	margin-top: 30px;*/
}

#blogSection .blog_footer {
	width: 100%;
	height: 50px;
	background: rgba(225, 225, 225, 0.7); /*rgba(111, 208, 31, 1);*/
/*	background-color: rgba(220, 0, 0, .1);*/
	padding: 5px;
	border-radius: 0 0 10px 10px;
	position: absolute;
/*	top: 100%;*/
	bottom: 0;
}

#blogSection .blog_footer button {
	background-color: transparent;
	-moz-outline: none;
	outline: none;
	font-size: 1em;
}

#blogSection .blog_footer span.liked {
	color: #f34
}

#blogSection .blog_footer span.disliked {
	color: #f34
}

#blogSection .blog_footer span.favorited {
/*	color: rgba(0, 0, 230, 0.7);*/
/*	color: rgba(222, 0, 100, 0.7);*/
	color: rgba(222, 0, 44, 0.7);
}

/* break at 378px endpoint */
#blogSection .blog_footer p.footerSettings {
	padding: 0;
}

#blogSection .blogComments {
	padding-bottom: 0;
}

#blogSection .blogComments form#commentForm div.form-group {
	padding: 5px;
	padding-bottom: 15px;
	margin: 0;
}

#blogSection .blogComments ul.list-group {
	margin: 0;
}

#blogSection .blogComments ul.list-group li:nth-of-type(odd) {
	background-color: rgba(80, 80, 80, .12);
}

#blogSection .blogComments ul.list-group li p {
	margin-bottom: 0;
}

#blogSection .blogComments ul.list-group li p img.comment_user_avatar {
	width: 30px;
	height: 30px;
	vertical-align: text-bottom;
	border-radius: 50%;
}

#blogSection .blogComments ul.list-group li p span.user-name {
	margin-left: 15px;
	vertical-align: bottom;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bolder;
/*	text-decoration: underline;*/
}

#blogSection .blogComments ul.list-group li p.settings  {
	padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}

#blogSection .blogComments ul.list-group li p.comment,
#blogSection .blogComments ul.list-group li p.comment-date {
/*	margin: 0 0 0 9%;*/
	padding: 0 9%;
}

#blogSection .blogComments ul.list-group li a.load-more-comments {
	color: blue;
}

#blogSection .blogComments ul.list-group li hr {
	border-top: 2px solid rgba(200, 200, 200, 0.9);
/*	border-bottom-style: double;*/
	width: 80%;
	margin: 0 0 5px 15px;
}

#blogSection .blogComments ul.list-group li p.comment span.comment-text {
/*	display: block;*/
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5em;
/*	text-transform: capitalize;*/
}

#blogSection .blogComments ul.list-group li p.comment-date small.date-posted::before {
/*	content: '\00b7';*/
	content: "\00b7";
/*	font-size: 1.4em;*/
	vertical-align: middle;
}

#blogSection .blogComments ul.list-group li p.comment-date small.date-posted {
	display: block;
	letter-spacing: 1.5px;
	font-size: .7em;
	color: #000;
	font-weight: 600;
}

/*.newCommentInput, * {
	outline: none;
}*/

/* FOOTER STYLES */
footer.col-sm-12 {
	color: #888;
	z-index: -9999;
	font-size: 1.4em;
	padding: 20px;
	margin-top: 110px;
	position: relative;
	bottom: 0;
/*	top: 88px;*/
/*	top: 10%;*/
	left: 0;
}

footer span.love {
	color: rgba(220, 0, 0, 0.6);
}

/* SIGNUP FORM STYLES */

/* ADD BLOG STYLES */
.add_blog {
	margin-top: 0;
	margin-bottom: 40px;
}

.titleError, 
.topicError, 
.blogError,
.nameError,
.nameEditError,
.emailError,
.emailEditError,
.passwordError,
.passwordErrorRepeat,
.passwordErrorBoth {
	display: none;
}

/* USER INFO EDIT PAGE STYLES */
/*
.input-group-addon {
	background-color: #d9edf7;
}
*/

.cursor-pointer {
	cursor: pointer;
}

img#userAvatar  {
	width: 256px;
	height: 256px;
	border: 1px inset #000;
	border-radius: 50%;
}

.dashboard table, .dashboard table thead {
/*	border-color: #000;*/
}

.dashboard table thead tr {
	background-color: rgba(187, 0, 0, 0.1);
	color: #000;
}

.dashboard table tbody tr td:not(:first-child){
	color: #987;
}

.dashboard table tbody tr:nth-of-type(even) {
	background-color: rgba(0, 100, 0, 0.1); /*rgba(187, 0, 0, .1);*/
}

@media only screen and ( min-width: 450px) {
	#mainNav {
		text-align: center;
	}
	
	div.navbar-header a {
		font-size: 2em;
	}
	
	#blogSection .blog_title a.name {
/*		width: 63%;*/
/*		min-width: 200px;*/
	}
}

@media only screen and (max-width: 450px) {
	#blogSection article div.likes-and-comments p {
		font-size: .9em;
	}
	
	#blogSection .blog_footer {
		padding: 0;
	}
	
	#blogSection .blog_footer p:first-of-type {
		padding: 0;
	}
	
	#blogSection .blog_footer button {
		font-size: .7em;
	}
}

@media only screen and ( min-width: 768px ) {
	nav.navbar {
		position: fixed;
		top: 0;
		z-index: 999;
/*		margin-bottom: 50px;*/
	}
	div.body-container {
		margin-top: 140px;
/*
		position: relative;
		top: 88px;
*/
	}
	
	header div {
		display: block;
	}
	
	#mainNav {
		text-align: left;
		font-size: 1.3em;
	}
	
	#blogTopics {
		display: block;
	}
	
	#blogSection .blog_title a.name {
		width: 67%;
	}
	
	#blogSection .blog_title h4 {
		font-size: 1.5em;
	}
	
	nav > .row { /*#searchForm #search, #searchForm #searchButton*/
		z-index: -999;
		margin-top: 20px;
/*		background-color: #000;*/
	}
	
	nav.navbar div.container ul.nav .account:hover .account-dropdown {
		display: inline-block!important;
		position: absolute;
		left: -225%;
		margin-top: -3px;
		padding: 0;
		background-color: rgb(232,232,232);
		color: #666; /*#eee;*/
		border: 1px solid #ccc;
		border-radius: 0 0 5px 5px;
		box-shadow: 4px 4px 16px rgba(20,23,28,.25);
		font-size: .9em;
		z-index: 99;
	}
	
	#blogSection .blogComments ul.list-group li hr {
		width: 40%;
	}
	
	#blogSection .blogComments ul.list-group li p span.user-name {
		font-size: 1em;
	}
}

@media only screen and ( min-width: 992px ) {
	#blogSection .blog_title a.name {
		width: 65%;
	}
}

@media only screen and ( min-width: 1200px ) {

}