/*
font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Nosifer', cursive;
*/

body {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

div.navbar-header a {
	font-family: 'Gloria Hallelujah', cursive;
	font-size: 1.8em;	/* 28px;*/
}

ul {
	list-style: none;
}


/* BLOG STYLES */
/* Aside Navigation */
#blogTopics {
	display: none;
	height: 400px;
	font-size: 1em;
	line-height: 1.4em;
	background-color: #d7dfd2;	/*#b2c6ab;*/		/*rgba(255, 255, 205, .8);*/
	border: 2px solid #000;
	border-radius: 10px;
	padding: 5px;
}

.row {
	margin: 0;
}

/* Aside Navigation Anchor Links */
#blogTopics a {
	text-decoration: none;
	color: #000;
}

#blogTopics a:hover {
	text-decoration: underline;
}

#blogSection {
	padding: 0;
}

/* Blog Article Content */
article {
/*	padding: 5px 30px 30px;*/
	background-color: rgba(170, 227, 114, 1); 	/*rgba(240, 173, 78, .3);*/ /*	#f0ad4e;	*/	/*rgba(255, 228, 196, .8);*/
	border-radius: 10px;
	margin-bottom: 100px;
	border: 2px solid #000;
}

.blog-title {
	background: rgba(111, 208, 31, 1);
	padding: 5px;
	border-radius: 10px 10px 0 0;
}

.blog-title h2 {
/*	margin-bottom: 2px;*/
	font-family: 'Shadows Into Light', cursive;
}

.date_posted {
	width: 50%;
/*	margin-top: 0;*/
	padding-left: 20px;
	color: #000;
	cursor: pointer;
}

.date_posted::before {
	content: ' - ';
}

.date_posted {
	
	
}

/*
.date_posted a:link {
	color: black;
}

.date_posted a:visited {
	color: black;
}

.date_posted:hover {
	cursor: pointer;
}

.date_posted a:active {
	color: red;
}
*/
article p:not(.date_posted) {
	padding: 5px 30px 5px;
}

article > p:first-of-type {
	padding-top: 40px;
}





/* FOOTER STYLES */
footer.col-sm-12 {
	font-size: 1.4em;
	padding: 20px;
	position: relative;
	bottom: 0;
	left: 0;
}




/* SIGNUP FORM STYLES */
.inputError {
	display: none;
}


@media only screen and ( min-width: 450px) {
	#mainNav {
		text-align: center;
	}
	
	div.navbar-header a {
		font-size: 2em;
	}
}

@media only screen and ( min-width: 768px ) {
	
	header div {
		display: block;
	}
	
	#mainNav {
		text-align: left;
		font-size: 1.3em;
	}
	
	#blogTopics {
		display: block;
	}
}
